.container {
  position: relative;
  width: 241px;
  height: 335px;
}

.front {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(199, 88, 199, 1), #2d6fcc);
  text-transform: uppercase;
  font-weight: 400;
  font-family: monospace;
  font-size: 1.2rem;
  color: aliceblue;
  user-select: none;
  transition: all 0.2s;
}

.facedown {
  transform: rotate3d(0, 1, 0, 90deg);
}

.faceup {
  transform: rotate3d(0);
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  width: 241px;
  height: 335px;
  transition: all 0.2s;
  user-select: none;
  border-radius: 10px;
  background: url("/pokecard.png");
}
