.topbar {
  position: absolute;
  top: 0;
  left: 0;
}

.topbar > img {
  width: 400px;
}

.title {
  position: absolute;
  display: flex;
  top: 1rem;
  left: 1rem;
  gap: 1rem;
  align-items: center;
}

.title > h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--bg-color-yellow);
}
